<!doctype html><html lang="en"><head><meta charset=utf-8><link rel="shortcut icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><title>_</title><script>{{ script | safe }}</script></head><body></body></html>
